
.pokedexLayout {
    display: grid;
    grid-template-columns: 25fr 75fr;
}

.pokemonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: min(100%, 900px);
    gap: 3.2rem;
    margin-inline: auto;
    padding-top: var(--padding-top-lg);
    min-height: 57rem;
}