.headingPrimary {
    font-family: var(--font);
    color: var(--white);
    font-size: 4.2rem;
}

.textPrimary {
    font-family: var(--font);
    color: var(--white);
    font-size: 2rem;
}

.buttonPrimary {
    font-family: var(--font);
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 600;
}

.navLink {
    font-family: var(--font);
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 400;
} 

.pokemonName {
    font-family: var(--font);
    color: var(--black);
    font-size: 2rem;
    font-weight: 600;
}

.typeTag {
    font-family: var(--font);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 0.4rem;
    font-weight: 600;
}